#root {
	width: 100%;
}

.row-div {
	display: flex;
	flex-wrap: wrap;
	padding-top: 0rem;
/* 	margin-right: 91px;
	margin-left: 0px; */
}

.main-div {
	padding-left: 0rem;
	padding-right: 0rem;
	padding-top: 0rem;
}