.bgcl{
    background-color: #F4F3F3;
  }
  
.example {
    height: 60px !important;
    /* background-color:#8fcfd1; */
}
#head{
    font-size: 3em !important;
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.responsive-class{
    max-width: 100%;
    height: auto;
    background-color: #F4F3F3 !important;
    margin: 1em;
}

.second{
    float:right !important;
}

.mentor h2{
    font-family: serif !important;
    margin-top: 5px !important;
    text-align: center;
    text-transform: capitalize;
    font-size: 3em;
}

.mentor p{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 1.5em !important;
    text-align: center;
}
/* .mentor{
    margin: 10px;
} */

.margins{
    margin-top: 20px;
    margin-bottom: 20px;
}
